<div class="jumbotron jumbotron-fluid">
  &nbsp;
</div>



<div class="row" id="download">
  <div class="col mb-5">
    <div class="row">
      <div class="col-lg-6 offset-lg-3 col-sm-12 text-center">
        <p class="mb-3"><em>an interactive environment for designing<br> 2d sound arcologies with norns and grid</em></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 offset-md-4 col-sm-12 text-center">
        <a href="https://github.com/tyleretters/arcologies/archive/main.zip" class="btn btn-lg btn-block btn-success"><i class="fas fa-download"></i> Download Alpha Build</a>
        <p><em>(rename directory "arcologies-main" to "arcologies")</em></p>
      </div>
    </div>
  </div>
</div>
  


<div class="row">
  <div class="col mb-5">
    <div class="row row-dark">
      <div class="col-lg-6 offset-lg-3 col-sm-12 text-center">
        <iframe width="800" height="450" src="https://www.youtube.com/embed/videoseries?list=PLe1BFUbUceS2N5GLgORKQrw1bsz2ZLwJ3" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>


