<h2>Output</h2>
<hr class="red">
<div class="mapper-output">
  <div class="mapper-row">
    <div class="crosshair nw"><div class="hider"></div></div>
    <div class="push"></div>
    <div class="crosshair ne"><div class="hider"></div></div>
  </div>
  <div class="mapper-row">
    <div class="w">&nbsp;</div>
    <div class="wrap">
      <div class="cells-foreground"></div>
      <div class="grid"></div>
    </div>
    <div class="e">&nbsp;</div>
  </div>
  <div class="mapper-row">
    <div class="crosshair sw"><div class="hider"></div></div>
    <div class="push"></div>
    <div class="crosshair se"><div class="hider"></div></div>
  </div>
</div>