<nav id="toc" class="d-none d-xl-block col-xl-2 bd-toc">
  <nav class="nav nav-pills flex-column">
    <a class="nav-link add-spacing" href="#arcologies"><strong>arcologies</strong></a>
    <a class="nav-link" href="#interface">Interface</a>
    <a class="nav-link" href="#cells">Cells</a>
    <a class="nav-link" href="#signals">Signals</a>
    <a class="nav-link" href="#structures">Structures</a>
    <nav class="nav nav-pills flex-column">
      <a class="nav-link sub-nav ml-3" href="#hive">Hive</a>
      <a class="nav-link sub-nav ml-3" href="#shrine">Shrine</a>
      <a class="nav-link sub-nav ml-3" href="#gate">Gate</a>
      <a class="nav-link sub-nav ml-3" href="#rave">Rave</a>
      <a class="nav-link sub-nav ml-3" href="#topiary">Topiary</a>
      <a class="nav-link sub-nav ml-3" href="#maze">Maze</a>
    </nav>
    <a class="nav-link" href="#attributes">Attributes</a>
    <a class="nav-link" href="#other">Other</a>
    <a class="nav-link" href="#philosophy">Philosophy</a>
    <a class="nav-link" href="#credits">Credits</a>
  </nav>
</nav>