<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{% include head.html %}

<body class="gallery">

<div class="container-fluid">
  <div class="row">
    <div class="col mb-5">
      <h2>arcologist's gallery</h2>
      <hr>
      <a href="{{ site.url }}">&larr; back to the docs</a>
    </div>
  </div>
  <div class="row">
  {% assign items_by_order = site.gallery | sort: "order" | reverse %}
  {% for item in items_by_order %}
  
    <div class="col-md-4 col-sm-12">
      {{ item.content }}
    </div>
      {% endfor %}
  </div>

</div>

{% include footer.html %}

{% include javascript.html %}

</body>

</html>