<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{% include head.html %}

<body>

<div class="container-fluid">

  {% include hero.html %}

  <div class="row flex-xl-nowrap">
  
    <div id="docs" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      {% include docs.html %}
    </div>

    <nav id="toc" class="col-md-2 d-none d-md-block sidebar">
      {% include sidebar.html %}
    </nav>

  </div>

</div>

{% include footer.html %}

{% include javascript.html %}

</body>

</html>